.app {
  padding: 0 80px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: #2C2C2B;
    font-size: 66px;
    padding-top: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form {
    position: absolute;
    bottom: 124px;
    z-index: 2;
    .input {
      width: 500px;
      height: 100px;
      background-color: #ffffff;
      box-shadow: 0px 88px 200px 0px rgba(44, 44, 43, .1);
      border-radius: 8px;
      padding: 0 24px;
      box-sizing: border-box;
      &.password {
        margin-top: 24px;
      }
      & input {
        height: 100%;
        width: 100%;
        color: #2C2C2B;
      }
    }
    .forgot {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      color: #4F4A66;
      font-size: 28px;
    }
    .signIn {
      width: 500px;
      height: 100px;
      background: rgba(253, 149, 187, 1);
      box-shadow: 0px 30px 50px 0px rgba(255, 61, 132, 0.26), 0px 88px 200px 0px rgba(22, 22, 22, 0.2);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      font-size: 28px;
      margin-top: 68px;
    }
    .register {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #4F4A66;
      font-size: 28px;
      margin-top: 118px;
      .text {
        color: #C1A4F7;
      }
    }
  }
  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 962px;
    z-index: 1;
  }
}